
@{
    ViewData["Title"] = "GetAttack";
}

<center>
    <h2>@Model.name</h2>

    <font size="4"><div>@Model.attack1 &nbsp &nbsp @Model.attack2</div><p>
        <div>@Model.attack3 &nbsp &nbsp @Model.attack4</div></font>

</center>

